@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
@import url(./root.css);

.bg-img {
    background-image: url(/assets/images/png/header-bg-img.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    position: relative;
}

.bg-img::after {
    content: "";
    position: absolute;
    width: 1440.49px;
    height: 140.8px;
    bottom: 15%;
    background: linear-gradient(180deg, rgba(8, 16, 58, 0) 0%, #080E38 100%);

}

.fex {
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container {
    max-width: 1140px !important;
}

.oswald-font {
    font-family: "Oswald", serif;
}

.open-sans-font {
    font-family: "Open Sans", serif;
}

.heading {
    max-width: 607.82px;
    line-height: 118.56px;
}

.text-1 {
    padding-top: 8px;
}

.buton-1 {
    color: #070D37;
    padding: 8px 20px 8px 20px;
    gap: 10px;
    border-radius: 3.48px;
    border: none;
    line-height: 23.71px;
    text-align: right;
}

.buton-1:hover,
.buton-3:hover {
    color: white;
}

.buton-2 {
    line-height: 23.71px;
    text-align: center;
    padding: 8px 20px 8px 20px;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid #39C6FD;
    background-color: #070D37;
    color: #39C6FD;
}

.buton-3 {
    padding: 14px 27px 14px 27px;
    border-radius: 5.04px;
    border: none;
    margin-top: 68.11px;
    color: #070D37;
    margin-bottom: 198px;
}

.pt-12 {
    padding-top: 12px;
}

.gap-30 {
    gap: 30.78px;
    margin-top: 63.44px;
    display: flex;
}

.pt-23 {
    padding-top: 23.96px;
}

.pb-13 {
    padding-bottom: 13px;
}

.mt-254 {
    margin-top: 254px;
}

.menu-lines {
    width: 30px;
    height: 5px;
    margin-bottom: 5px;
    display: flex;
    z-index: 10;
    transition: all 300ms linear;
    transform-origin: left;
    border-radius: 10px;
    background-color: white;
    z-index: 10;
}

.pl-23 {
    padding-left: 23.41px;
}

.pt-27 {
    padding-top: 27.77px;
}

.mt-19 {
    margin-top: 19.77px;
}

.z-5 {
    z-index: 5;
}

.rotate40 {
    transform: rotate(40deg);
}

.rotate-45 {
    transform: rotate(-44deg);
}

.mt-190 {
    margin-top: 190px;
}

.elipse-2 {
    left: 0%;
    top: -60%;
    z-index: -1;
    position: absolute;
}

.triangle-shadow {
    right: 0%;
    bottom: 25%;
    z-index: -1;
}

.sub-heading {
    max-width: 632px;
    line-height: 71.14px;
}

.slide-text {
    max-width: 516px;
    line-height: 21.79px;
    padding-top: 17px;
    padding-bottom: 51px;
}

.mw-494 {
    max-width: 494px;
}

.slick-dots {
    bottom: -38px !important;
}

.slick-slide {
    height: 461px !important;
    display: flex !important;
}

.slick-track {
    display: flex !important;
    gap: 30px !important;
}

.slick-dots li button:before {
    color: var(--fc-grey) !important;
    opacity: 70% !important;
}

.slick-dots li.slick-active button:before {
    color: var(--fc-white) !important;
    opacity: 100% !important;
}

.Faq-acc .accordion-button:not(.collapsed) {
    box-shadow: unset !important;
    position: relative;
}

.Faq-acc .accordion-button {
    box-shadow: unset !important;
    color: white !important;
    margin-bottom: 26.17px;
    margin-top: 52px;
}

.Faq-acc .accordion {
    --bs-accordion-color: var(--bs-body-color);
    --bs-accordion-border-width: var(--bs-border-width);
    --bs-accordion-border-radius: var(--bs-border-radius);
    max-width: 1022px;
    width: 100%;
}

.Faq-acc .accordion-button::after {
    background-image: url(/assets/images/svg/acc-arrow.svg) !important;
    flex-direction: column-reverse;
    width: 24px;
    height: 24px;
    rotate: 0;
}

.accordion-button:not(.collapsed)::after {
    background-image: url(/assets/images/svg/acc-arrow-2.svg) !important;
    height: 24px;
    width: 24px;
    rotate: 0;
}

.Faq-acc .accordion-item {
    border: 2px solid #39C6FD;
    position: relative;
}

.pr-12 {
    padding-right: 12px;
}

.pr-14 {
    padding-right: 13.98px;
}

.pb-77 {
    padding-bottom: 77.37px;
}

.ml-62 {
    margin-left: 37px;
}

.mw-680 {
    max-width: 680px;
    line-height: 21.79px;
}

.mb-24 {
    margin-bottom: 24px;
}

.acc-shadow {
    left: 0;
    bottom: 5%;

}

.mt-198 {
    margin-top: 198px;
}

.mb-50 {
    margin-bottom: 120px;
}

.shadow-img {
    background-image: url(/assets/images/png/Mask\ group.png);
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.shadow-img-2 {
    background-image: url(/assets/images/png/Group\ 11.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.buton-4 {
    padding: 11px 27px;
    border-radius: 4px;
    border: none;
}

.br-3 {
    border: 3px solid #39C6FD;
    border-radius: 10px;
}

.pt-65 {
    padding-top: 65.45px;
}

.pt-10 {
    padding-top: 10.58px;
}

.mt-60 {
    margin-top: 60px;
}

.mb-89 {
    margin-bottom: 89.17px;
}

.ml-73 {
    margin-left: 73px;
}

.pt-52 {
    padding-top: 52.94px;
}


.pt-24 {
    padding-top: 24.79px;
}

.mt-200 {
    margin-top: 200px;
}

.mobile-img {
    right: 14%;
    top: 11%;
    bottom: 1%;
    position: absolute;
}

.mb-126 {
    margin-bottom: 126px;
}

.pb-60 {
    padding-bottom: 59.84px;
}

.footer-text {
    opacity: 70%;
}

.mb-50 {
    margin-bottom: 50px;
}

.gap-63 {
    gap: 63.26px;
}

.line {
    width: 100%;
    height: 0.5px;
    background-color: #39C6FD;
}

.box {
    max-width: 1140px;
    background: var(--bg);
    border: 3px solid var(--fc-sky-blue);
    border-radius: 10px;
}

.max-w-582 {
    max-width: 582px;
}

.pt-10 {
    padding-top: 10px;
}

.mt-60 {
    margin-top: 60px;
}

.phone-img {
    top: -32%;
    right: 41px;
}

.mb-32 {
    margin-bottom: 32px;
}

.iphone {
    max-width: 302.79px;
    height: 608.46px;
}

.triangle-img {
    top: 31%;
    right: 0%;
}

@media (max-width:1045.98px) {
    .max-w-582 {
        max-width: 500px;
    }
}

@media (min-width:991.98px) {
    .nav-bar {
        display: flex;
        justify-content: space-between;
        justify-content: center;
    }

    .nav-link {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .gap-50 {
        gap: 53.26px;
    }

    .gap-20 {
        gap: 20px !important;
    }

    .box {
        padding-top: 50px !important;
    }
}

@media (max-width:1199.98px) {


    .triangle-shadow {
        bottom: 45%;
    }
}

@media (max-width:991.98px) {
    .mt-19 {
        gap: 20px !important;
    }

    .br-3 {
        padding: 50px;
    }

    .mobile-img {
        position: unset;
    }

    .gap-30 {
        margin-bottom: 70px;
    }

    .pt-30 {
        padding-top: 50px;
    }

    .mt-190 {
        margin-top: 40px;
    }

    .bug {
        display: none;
    }

    .nav-bar {
        justify-content: space-between;
    }

    .nav-link {
        display: flex !important;
        flex-direction: column;
        background: #070D37 !important;
        width: 100%;
        min-height: 100vh;
        position: fixed;
        justify-content: center;
        bottom: 0;
        right: -100% !important;
        top: 0%;
        transition: all 300ms linear;
        z-index: 3;
    }

    .show-nvabar {
        right: 0 !important;
    }

    .menu-btn {
        display: block;
        z-index: 1;
    }

    .gap-20 {
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        margin-top: 20px;
    }

    .gap-50 {
        gap: 5px !important;
        display: flex;
        flex-direction: column;
        margin: auto;
        align-items: center;
        gap: 10px;
    }

    .heading {
        padding-top: 70px;
    }
}

@media (max-width:575.98px) {
    .i-img {
        width: 60%;
    }

    .heading {
        line-height: 48px;
    }

    .sub-heading {
        line-height: 40px;
    }
}

@media (max-width:1439.98px) {
    .acc-shadow {
        max-width: 100px;
    }

    .triangle-img {
        max-width: 100px;
    }

    .elipse-2 {
        display: none;
    }

    .buton-3 {
        z-index: 2;
        position: relative;
    }

    .bg-img::after {
        width: 100%;
    }
}

@media (max-width:425px) {
    .triangle-shadow {
        bottom: 55%;
    }

    .gap-30 {
        flex-direction: column;
        display: flex;
        margin: 50px;
        margin: auto;
        align-items: center;
        padding-top: 30px;
    }
}